{# templates/emails/registration.html.twig #}
<h3>Lien pour réinitialiser votre mot de passe </h3>



{# example, assuming you have a route named "login" #}
Voici le lien pour réinitialiser votre mot de passe <a href="{{ url('newPassword', {token:user.token}) }}">Optenir un nouveau mot de passe</a>.



