{% extends 'base.html.twig' %}
    {% block body %}

  <body>


    <!-- Page Content -->
    <div class="container">


      <!-- Intro Content -->
      <div class="row">
        <div class="col-lg-6">
          <img class="img-fluid rounded mb-4" src="http://placehold.it/750x450" alt="">
        </div>
        <div class="col-lg-6">
          <h2>About Modern Business</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, magni, aperiam vitae illum voluptatum aut sequi impedit non velit ab ea pariatur sint quidem corporis eveniet. Odit, temporibus reprehenderit dolorum!</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis?</p>
        </div>
      </div>
      <!-- /.row -->

      <!-- Team -->
      <section id="team" class="pb-5">
        <div class="container">
          <h5 class="section-title h1">Notre équipe</h5>
          <div class="row">
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_01.png" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_02.png" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_03.png" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_04.jpg" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_05.png" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->
            <!-- Team member -->
            <div class="col-xs-12 col-sm-6 col-md-4">
              <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                <div class="mainflip">
                  <div class="frontside">
                    <div class="card">
                      <div class="card-body text-center">
                        <p><img class=" img-fluid" src="https://sunlimetech.com/portfolio/boot4menu/assets/imgs/team/img_06.jpg" alt="card image"></p>
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.</p>
                        <a href="#" class="btn btn-primary btn-sm"><i class="fa fa-plus"></i></a>
                      </div>
                    </div>
                  </div>
                  <div class="backside">
                    <div class="card">
                      <div class="card-body text-center mt-4">
                        <h4 class="card-title">Sunlimetech</h4>
                        <p class="card-text">This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.This is basic card with image on top, title, description and button.</p>
                        <ul class="list-inline">
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-facebook"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-twitter"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-skype"></i>
                            </a>
                          </li>
                          <li class="list-inline-item">
                            <a class="social-icon text-xs-center" target="_blank" href="#">
                              <i class="fa fa-google"></i>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ./Team member -->

          </div>
        </div>
      </section>
      <!-- Team -->

      <!-- Our Customers -->
      <h2>Our Customers</h2>
      <div class="row">
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
        <div class="col-lg-2 col-sm-4 mb-4">
          <img class="img-fluid" src="http://placehold.it/500x300" alt="">
        </div>
      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
  </body>
{% endblock %}


