{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">


        <div class="row">

            <div class="col-sm-3 nopadding">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TU1Ip7JYQSQ" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-sm-3 nopadding">
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/49c4Bpt-dYM" frameborder="0"
                            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>

            {% for video in videos %}
                <div class="col-sm-3 nopadding">
                    <div class="embed-responsive embed-responsive-16by9">
                        {{ video.link |raw }}
                    </div>
                </div>
            {% endfor %}

        </div>

    </div>
{% endblock %}