{% extends 'base.html.twig' %}

{% block body %}
    <div class="container contact-form rounded ">
        <div class="row">
            <div class="block-left col-md-6 col-xs-1 col-lg-6"style="text-align: justify;">
                <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus accusantium alias aut deleniti
                    explicabo libero mollitia quisquam ratione, repellat saepe sequi ullam veritatis! Ad alias
                    consequatur corporis cum cupiditate debitis distinctio dolor dolore dolorem dolorum, error,
                    exercitationem facilis fuga in incidunt inventore ipsa, ipsum minus molestias nam nulla officiis
                    porro quo quod ratione rem repudiandae sit totam ut voluptas. Accusantium alias atque, beatae
                    consequuntur deserunt dolor dolores ea error est eum eveniet excepturi fuga illo impedit ipsum
                    laudantium maiores maxime molestias nemo nostrum officia omnis porro praesentium provident quasi qui
                    quia recusandae repellendus reprehenderit sapiente sed sequi sit tenetur velit vero voluptates
                    voluptatum? A accusantium aperiam aspernatur at cumque cupiditate dicta dolorem doloremque esse
                    eveniet iste labore, neque numquam officiis placeat qui quia quisquam reprehenderit unde voluptas.
                    At consequatur fuga laboriosam nam porro sit sunt veritatis voluptatem. At corporis fugit labore
                    nisi nobis quam quod recusandae rem sed, totam, voluptas voluptate! Corporis, itaque, mollitia.
                    Assumenda at aut consectetur corporis excepturi quam quos suscipit velit vero voluptates. A aliquid
                    at cupiditate deserunt dolore eaque eligendi eos ex facilis hic, impedit inventore iste libero modi
                    nam nihil nostrum numquam odio optio quos reiciendis repellat repellendus sit, totam vel veniam
                    voluptate. Alias atque autem consectetur culpa dolorum eos expedita fugiat fugit harum hic id illo
                    in ipsam iste magni minima molestiae mollitia pariatur, placeat quidem ratione recusandae repellat
                    repellendus repudiandae vel vitae voluptatem voluptatibus! A aliquid amet blanditiis cumque dolor ea
                    et iste itaque labore modi natus, nisi possimus, quam rerum sint, soluta ut vitae voluptatibus! Cum
                    delectus eos id, nesciunt omnis quaerat quisquam repudiandae sed suscipit ut. Adipisci architecto
                    asperiores atque commodi cum dicta doloremque doloribus dolorum error harum illo inventore laborum
                    nemo neque nihil, qui repellat repellendus temporibus ullam voluptatum! Cupiditate dolor impedit
                    possimus quibusdam quod? Architecto cumque explicabo incidunt natus.
                </div>
                <div>Magni nisi omnis sequi! Ad autem dolores molestias rerum. Asperiores, soluta, vitae. Accusamus
                    accusantium alias commodi debitis delectus distinctio est fugit in ipsa labore laudantium magnam
                    magni, nihil numquam praesentium quae quaerat quas quasi recusandae sapiente suscipit tempora vel
                    velit veritatis voluptatibus. Delectus explicabo odit perferendis voluptate. A autem consequatur
                    deserunt distinctio dolore laudantium maiores temporibus vel? Ab aliquid assumenda atque blanditiis
                    consequatur culpa deserunt, eaque eum exercitationem harum hic impedit in ipsum itaque laborum
                    nulla, officia perspiciatis placeat quasi recusandae reiciendis sint tempore ullam velit voluptatem!
                    Commodi est iusto natus odio qui, rem! Corporis ducimus ex, illum molestiae non omnis placeat porro
                    sunt! Adipisci dicta eius eligendi est non nulla officiis voluptatibus. Aliquid architecto hic
                    labore laudantium possimus! A accusamus accusantium alias aspernatur atque consequatur deserunt,
                    eaque est illum iste, itaque laborum magnam nostrum odio optio perferendis porro quia quisquam
                    similique tempore ut vel velit voluptatum? Animi asperiores beatae delectus distinctio dolorem earum
                    esse est eum excepturi impedit, in incidunt iste laudantium maiores molestias nihil, nobis numquam,
                    odio officiis omnis optio quas qui quia quisquam saepe sapiente sint voluptatibus. Laborum, nobis,
                    ratione? Amet autem, beatae consequatur culpa distinctio doloremque eaque earum id, ipsa ipsum
                    necessitatibus, obcaecati praesentium provident qui quo repellendus saepe vero. Asperiores
                    dignissimos dolore eius, eligendi est exercitationem facere iste libero maxime, natus odit
                    perferendis placeat quaerat quos reiciendis sapiente similique sint sunt tenetur ullam. A beatae
                    commodi dignissimos inventore, ipsam provident quae quasi voluptate. Ad asperiores dolores expedita
                    molestias neque optio praesentium qui quidem quis quisquam rerum, ullam voluptatibus. Adipisci
                    aliquam architecto consequatur culpa fugiat hic libero praesentium quis, quo repellendus sunt
                    temporibus voluptatibus? Dolorum eaque eligendi et excepturi id ipsam, libero maxime natus provident
                    quibusdam quo suscipit vero voluptas. Accusamus consectetur, cumque cupiditate esse est facilis
                    fugiat laboriosam minus officiis pariatur, praesentium repellendus saepe, voluptatibus.
                </div>
                <div>Consequuntur delectus impedit molestiae pariatur sed sequi sint! Corporis culpa cupiditate eligendi
                    illum, soluta sunt? Aliquam animi aperiam architecto autem cumque cupiditate debitis dicta doloribus
                    eaque enim eos esse et eum eveniet excepturi exercitationem facere illo labore, maxime molestiae
                    molestias natus non nulla odit perferendis perspiciatis, quas quos ratione recusandae reiciendis
                    repellendus repudiandae sunt suscipit tempore vel veritatis voluptates. A adipisci aliquam aperiam
                    architecto autem blanditiis corporis cum cupiditate debitis dignissimos dolorem eos et explicabo
                    fugit id illo in mollitia, nemo non nostrum nulla perspiciatis praesentium, provident quasi, quia
                    ratione recusandae sint veniam voluptate voluptatem? Ad adipisci culpa cum delectus dicta dolore
                    doloremque dolores doloribus dolorum eius enim ipsam iure laboriosam maxime, minus nam neque nobis
                    numquam odio omnis perferendis porro quidem quos, ratione, reiciendis rem repellat reprehenderit
                    rerum sapiente sequi sit velit veniam voluptatum. Animi doloribus fugit ipsam minus omnis,
                    perspiciatis sint suscipit. Asperiores eos fuga in ipsa ipsam, maiores obcaecati officia possimus
                    quam quos veritatis vero. Adipisci aperiam assumenda atque corporis cumque dolor dolorem est ex fuga
                    id illo laboriosam laudantium, maiores mollitia nisi obcaecati odit omnis pariatur placeat provident
                    quaerat ratione repudiandae sint sunt tempora temporibus vitae voluptates. Atque beatae magni
                    mollitia officiis tempora, vitae? Explicabo illum itaque necessitatibus quis? Atque eius ex illo
                    illum nulla numquam, odit quas quisquam ratione recusandae. Accusamus alias eum magnam modi
                    molestias nam quidem? Aliquid animi aspernatur assumenda autem eius, fuga iste neque non
                    perspiciatis placeat quae, quas quidem quo. Dignissimos illo natus omnis pariatur soluta. Cum
                    doloribus eveniet exercitationem fugiat in incidunt iure maiores nihil, recusandae. Consequatur
                    doloremque fuga impedit molestiae, nisi numquam perferendis quibusdam? Delectus doloribus et iusto
                    nam necessitatibus, pariatur quasi quod ratione tenetur. Accusamus accusantium adipisci animi, culpa
                    cum cupiditate ea eius eos et, explicabo, facere illum nisi quidem rem similique velit veniam.
                    Consequuntur facilis quia voluptates!
                    <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4">faire un don </button>

                </div>
            </div>
            <div class="block-left col-md-6 col-xs-1 col-lg-6 border-left"style="text-align: justify;">
                <div class="image1 col-12">
                    <img src="{{ asset('images_action/5c43bb3bca8e9193295903.JPG') }}" style="height: 12em">
                </div>
                <div>

                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab beatae debitis doloremque
                    exercitationem id illum, inventore maxime neque nihil possimus soluta sunt temporibus voluptate.
                    Accusamus asperiores aut blanditiis consequuntur cum, cumque cupiditate distinctio dolores ducimus
                    eos eveniet excepturi exercitationem facere ipsum maiores maxime necessitatibus nemo nostrum odit
                    perferendis placeat quidem quisquam quod quos ratione rem repudiandae rerum saepe sapiente sunt
                    temporibus ullam veritatis voluptatibus! A asperiores assumenda blanditiis commodi consequuntur
                    delectus, distinctio ducimus eaque fugiat, harum itaque iusto labore libero nam natus officiis optio
                    quaerat quibusdam quo quod sed sint tempore totam vel veniam voluptates voluptatibus. Ab alias amet
                    asperiores aspernatur commodi corporis cumque debitis delectus dignissimos dolores dolorum earum
                    eius eligendi et eveniet fuga in incidunt libero maiores nulla officiis, optio pariatur perspiciatis
                    quasi quia, quisquam quod repellendus sunt suscipit tempora tempore vel veritatis voluptas. Alias,
                    aliquid amet aperiam architecto at cumque delectus deserunt ducimus esse est eveniet exercitationem
                    harum itaque maiores molestiae nam necessitatibus nesciunt nihil nisi nobis qui quia quisquam quod
                    reiciendis rem repellat sit tempora tempore veritatis voluptatibus. Ab aliquid architecto, assumenda
                    at blanditiis commodi corporis dicta dolores doloribus error exercitationem incidunt itaque iure
                    libero, modi molestiae odio omnis placeat quaerat quibusdam, quidem quos repellat vel. Accusantium
                    aspernatur, corporis dolorem dolorum ipsam maiores nemo quam ut veritatis voluptatum! Asperiores
                    atque dicta dolorem, hic in numquam omnis perspiciatis recusandae repellat temporibus. Ab
                    accusantium amet aperiam cum cupiditate dolor eius eligendi ex fugit illum ipsa iusto laudantium
                    magnam minus modi mollitia nesciunt nisi perferendis perspiciatis, placeat provident qui quibusdam
                    repellat saepe sapiente sed suscipit tempora. Accusamus aspernatur dignissimos esse eum, facere
                    facilis hic in, incidunt inventore laudantium mollitia quos! Aliquid atque consequuntur deleniti
                    deserunt dicta maiores quaerat ratione rem reprehenderit sit? A beatae enim exercitationem fugit,
                    modi molestias odit quidem! Delectus, dolore eaque eius error exercitationem expedita iste?
                </div>
                <img src="{{ asset('images_action/5c43bb3bca8e9193295903.JPG') }}" style="height: 12em">

                <div>Ad alias, asperiores aut consectetur dignissimos eaque et expedita id nisi, officia optio quia quo
                    quod repellat reprehenderit saepe, vero voluptatum. Aliquam amet beatae commodi, consequatur
                    distinctio eos exercitationem, laboriosam natus nisi praesentium quas qui suscipit voluptatum! A ad
                    aliquid architecto beatae consequuntur cumque cupiditate delectus eius explicabo, fuga illo iure
                    magni nobis, obcaecati odio omnis, praesentium quae quibusdam quod recusandae rem suscipit ullam
                    vel. Animi at eum fugiat labore magni minima molestias nulla provident sequi tenetur vel, veritatis
                    voluptas voluptates? Atque eaque eligendi, illo, impedit ipsa labore mollitia necessitatibus, neque
                    non praesentium quae reprehenderit unde veritatis. Accusamus adipisci aliquam aliquid animi
                    asperiores blanditiis consectetur, consequatur cumque debitis delectus deserunt dolor dolore,
                    doloremque ea facilis fugiat fugit illo illum inventore ipsum libero molestias natus neque odit
                    officia officiis pariatur, porro recusandae repudiandae tempore? Ab adipisci alias architecto
                    aspernatur atque blanditiis commodi consequuntur cum deserunt eos explicabo fuga fugiat illo impedit
                    inventore laboriosam natus nobis non, quasi, quia quibusdam reiciendis rem reprehenderit sint
                    temporibus vel, veritatis. Ab accusantium ad alias aliquid aut blanditiis consequatur cumque debitis
                    dignissimos dolorum ea eius est facere fugit harum iste iusto laudantium, maxime neque nisi non
                    nostrum nulla numquam obcaecati perferendis provident quaerat qui ratione reiciendis reprehenderit
                    rerum saepe sunt tempora tempore totam, vel veritatis. A animi aut dicta doloribus enim laudantium
                    modi nostrum quidem rerum, vitae. Dolor labore quasi recusandae vitae voluptas. Aliquam, at corporis
                    deserunt dolor expedita facere ipsam ipsum, mollitia odio odit praesentium quae, quia quis quod
                    repellendus! Aliquid assumenda dolorum est eum eveniet illo labore, magnam magni necessitatibus non
                    numquam quam quas qui ratione voluptates. Beatae commodi consequatur deleniti doloribus dolorum
                    eaque eos esse est et excepturi facilis, illo illum inventore ipsum iste, libero magnam modi
                    molestias nam nihil nobis nulla, officiis qui quis quos ratione reiciendis repellat rerum unde
                    voluptas voluptates.
                   <a href="{{ path('donationpage') }}"> <button type="button"  class="btn btn-primary btn-lg btn-block mt-4 mb-4" >faire un don </button></a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

