{% extends 'base.html.twig' %}
{% block title %}
    <title>parrainer un enfant de l'association Swahilisa</title>
    <meta name="description" content="le soutien de l'association est primordial pour aider les enfants du Kenya" />
{% endblock %}
{% block body %}
    <div class="container contact-form rounded ">
        <div class="row">
            <div class="col-md-12 col-xs-1 col-lg-12" style="text-align: justify;">
                <div>
                    <h1 style="text-align: center">Devenir PARRAIN ou MARRAINE</h1>

                    Le montant d'un parrainage est fixé à 120 € par an. 66 %  de vos dons ou parrainages sont déductibles de vos impôts.
                    Pour un enfant, un versement de 10 € par mois revient à 3,40€ pour le nourrir, lui donner un enseignement de qualité et l'espoir d'une vie meilleure.

                    <a href="{{ path('donationpage') }}">
                        <button type="button" class="btn btn-primary btn-lg btn-block mt-4 mb-4">faire un don</button>
                    </a>

                </div>
            </div>
        </div>
    </div>

{% endblock %}

