{% extends 'base.html.twig' %}
{% block title %}
    <title>page de don de l'association Swahilisa</title>
    <meta name="description" content="la page des dons pour swahilisa. Grâce aux donateurs, l'association a pu développer des solutions pour le Kenya" />

{% endblock %}
{% block body %}
<iframe id="haWidget" allowtransparency="true" scrolling="auto"
        src="https://www.donnerenligne.fr/association-swahilisa/faire-un-don"
        style="width:100%;height:750px;border:none;" onload="window.scroll(0, this.offsetTop)"></iframe>
{% endblock %}