{% extends 'Admin/layout.html.twig' %}
{% block body %}
<body>
<div class="container">
    <div class="col-6">

        {{ form_start(form) }}
        {{ form_row(form.title) }}

        {{ form_row(form.imageFile,{'attr':{'placeholder':"URL de l'image"}}) }}

        <button class="btn btn-success"> Sauvegarder</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
